<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&family=Noto+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">

    <style>
        .ritik{
            font-family: 'Arvo', serif;
            font-weight: bold;
        }
        .form-control{
            height: 30px;
            background-color: rgb(255, 255, 204);
        }
        .a{
            height: 200px;
            background-color: rgb(255, 255, 204);
        }
    </style>
</head>
<body  style="background-color: rgb(221, 244, 255)";>   
    <script src="static/bootstrap.bundle.min.js"></script>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col h2 ritik">Welcome To you in Document sender app.</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1"></div>
            <div class="col h5">:- You can send document to on a differents emails at a same time.</div>
        </div>
    </div>
    <br><br>
    <form action="{{ url_for('send') }}" method="post">

        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Directory Path :-</span>
                        <textarea class="form-control" name="folder_path" aria-label="With textarea" required></textarea>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
    <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Subject :-</span>
                        <textarea class="form-control" name="subject" aria-label="With textarea" required></textarea>
                    </div>
                </div>
                <div class="col-3"></div>
            </div> <br>
    
            <div class="row">
                <div class="col-3"></div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Body :-</span>
                        <textarea class="form-control a"  name="body"  aria-label="With textarea" required></textarea>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-5"></div>
                <div class="col">
                    <button type="submit" class="btn btn-success">Send</button>
                    <a href="http://127.0.0.1:8080/help" class="btn btn-warning" target="_blank">Help</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-10"></div>
                <div class="col">coded by:- <b><i>Ritik Singh</i></b></div>
            </div>
        </div>


    </form>
    
</body>
</html>